@{
    ViewData["Title"] = "Cards";
}
@model FiveRingsDb.Views.Cards.CardsListViewModel

<h2>Cards</h2>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Name</th>
            <th>Clan</th>
            <th>Type</th>
            <th>Traits</th>
            <th>Deck</th>
            <th>Cost</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var card in Model.Cards)
        {
            <tr>
                <td>@card.Name</td>
                <td>@card.Clan</td>
                <td>@card.CardType</td>
                <td><span>@string.Join(", ", card.Traits)</span></td>
                <td>@card.Side</td>
                <td><span>@Model.GetCost(card)</span></td>
                <td><span>@Model.GetValues(card)</span></td>
            </tr>
        }
    </tbody>
</table>