@{
    ViewData["Title"] = "Cards";
}
@model FiveRingsDb.Views.Cards.CardsListViewModel

<h2>Cards</h2>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th class="col">Name</th>
            <th class="col">Clan</th>
            <th class="col">Type</th>
            <th class="col">Traits</th>
            <th class="col">Deck</th>
            <th class="col">Cost</th>
            <th class="col">Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var card in Model.Cards)
        {
            <tr>
                <td>@card.Name</td>
                <td>@card.Clan</td>
                <td>@card.CardType</td>
                <td>@string.Join(", ", card.Traits)</td>
                <td>@card.Side</td>
                <td>@Model.GetCost(card)</td>
                <td>@Model.GetValues(card)</td>
            </tr>
        }
    </tbody>
</table>